<div class="container p-4 text-center">
    <h2>Edite as Críticas e Sugestões</h2>
    <p><strong>
            Atenção ao editar as novas informações.
        </strong></p>
</div>

<div class="container p-4">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card">
                <div class="card-header text-center">
                    <h3>Editar</h3>
                </div>
                <div class="card-body">
                    <form action="/links/edit/{{link.id}}" method="POST">
                        <div class="form-group">
                            <input type="text" class="form-control" name="title" value="{{link.title}}"
                                placeholder="Seu nome" autofocus>
                        </div>
                        <div class="form-group">
                            <input type="email" name="url" class="form-control" value="{{link.url}}"
                                placeholder="Seu email">
                        </div>
                        <div class="form-group">
                            <input type="text" name="whats" class="form-control" value="{{link.whats}}"
                                placeholder="Seu Whats">
                        </div>
                        <div class="form-group">
                            <textarea name="description" rows="2" class="form-control"
                                placeholder="Sua Sugetão">{{link.description}}</textarea>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-block">Send</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>